if SHIELD_IBAKEY54_LEFT

config ZMK_KEYBOARD_NAME
    default "ibakey54"
    
config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_IBAKEY54_LEFT || SHIELD_IBAKEY54_RIGHT

config ZMK_SPLIT
    default y

endif