# Ibakey54 shield configuration

# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_IBAKEY54_LEFT
    def_bool ${shield_list_contains,ibakey54_left}

config SHIELD_IBAKEY54_RIGHT
    def_bool ${shield_list_contains,ibakey54_right}